.main-div2{
    width: 1350px;
    background-color: rgba(0, 0, 0, 1);
  
}
.main-div2-round{
    padding-left: 200px;
    padding-bottom: 20px;

}

.main-div2-round1 {
  display: flex;
  padding: 20px;
  border: 1px;
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.round-image{
  border: solid 1px var(--primary-color);
  margin: 0.5em;
  width: 5em;
  padding: 0.3rem;
  box-shadow: 10px 10px 29px -19px rgba(0,0,0,0.75);
    border-radius: 50%;
  @media screen and (min-width:800px) {
    width: 7em;
  }
}
